table {
    width: 99%;
    background: rgb(194, 178, 178);
}
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .flag {
        height: 20px;
        }
        td, th{
         padding: 5px;
        }
        .center {
         text-align:center;
        }
        .right{
      text-align: right;
    }
        .bold{
    font-weight: bold;
        }
        .gold {
background-color: gold;
        }
        .silver{
background-color: silver;
        }
        .bronz{
background-color: #cd7f32;
        }
        caption{
            font-size: 30px;
            padding: 20px;
            color: rgb(44, 241, 255);
            background-color: rgb(16, 19, 214);
        }
        .cyan{
            background-color: cyan;
        }
        .blue{
            background-color: rgb(72, 188, 255);
        }
        h1{
            font-size: 60px;
            padding: 20px;
        }
        .gray{
            background-color: gray;
        }
        .v{
            height: 30px;
        }
        .t{
            height: 60px;
        }

        body {
            background-image: url(https://www.irozhlas.cz/sites/default/files/styles/zpravy_facebook/public/uploader/2019-02-11t150537z_1_210215-165743_mov.JPG?itok=BX3gmLQb);
        }
       
        h1 {
            color: rgb(44, 241, 255);
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding: 60px;
            font-size: 60px;
        }
